#map { height: 100vh; }

#pac-input {
  font-size: 1.5em;
  height: 31.5px;
  line-height: 31.5px;
  padding: 0 10px;
  width: 400px;
  margin: 10px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}

#filters {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  background-color: white;

  #handle {
    padding: 10px;
    font-size: 16px;
    line-height: 25px;

    #status {
      display: inline-block;
      margin-left: 15px;
      margin-right: 15px;
    }

    button {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    #spinner {
      font-size: 24px;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      color: #3071a9;
      -webkit-animation-name: spin;
      -webkit-animation-duration: 1000ms;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: spin;
      -moz-animation-duration: 1000ms;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -ms-animation-name: spin;
      -ms-animation-duration: 1000ms;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: linear;
      
      animation-name: spin;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @-ms-keyframes spin {
        from { -ms-transform: rotate(0deg); }
        to { -ms-transform: rotate(360deg); }
    }
    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
  }

  #panel {
    padding-bottom: 10px;
  }

  label {
    font-size: 1.5em;
    font-weight: normal;
  }

  .input-group {
    padding: 10px 0 0;

    input {
      text-align: right;
    }

    .input-group-addon {
      background-color: #3071a9;
      outline: none;

      button {
        color: white;
        background-color: transparent;
        border: 0;
      }
    }
  }

  .multiple-select {
    .dropdown-menu {
      max-height: 250px;
      overflow: auto;

      li {
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          background-color: #3071a9;
          color: white;
        }
      }
    }
  }

  .input-group {
    .md-datepicker-input {
      text-align: left;
    }
  }
}

.md-datepicker-calendar {
  background-color: white;
}

#github {
  font-size: 24px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 10px;
}

.listing-info-window {
  max-width: 300px;
  
  img {
    width: 100%;
  }
}