#map { height: 100vh; }

#pac-input {
  font-size: 1.5em;
  height: 31.5px;
  line-height: 31.5px;
  padding: 0 10px;
  width: 400px;
  margin: 10px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}

#filters {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  background-color: white;

  label {
    font-size: 1.5em;
    font-weight: normal;
  }

  .input-group {
    padding: 10px 0 0;

    input {
      text-align: right;
    }

    .input-group-addon {
      background-color: #3071a9;
      outline: none;

      button {
        color: white;
        background-color: transparent;
        border: 0;
      }
    }
  }
}
